{% load static %}
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>

    <div>
        <img src="{% static 'image/back1.jpg' %}" class="background">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
       
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header border-bottom-0">
            <button type="button" class="close"  aria-label="Close">
                <a href="http://127.0.0.1:8000/">
                <span aria-hidden="true">&times; </span>
                </a>         
            </button>
        </div>
        <div class="modal-body">
            <div class="form-title text-center">
            <h4>Password Reset Complete</h4>
            <p>Your password has been set. You may go ahead and log in now.</p>  
            <a href="{% url 'login' %}" style="color: #17a2b8!important;">Login</a>  
        </div>
        </div>
    </div>
    </div>
    </div>

  <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script> 
  <script  src="{% static 'js/script.js' %}"></script>