{% load static %}
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>

    <div>
        <img src="{% static 'image/fp2.png' %}" class="background">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
       
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="margin-bottom: 15pc;">
        <div class="modal-header border-bottom-0">
            <button type="button" class="close"  aria-label="Close">
                <a href="http://127.0.0.1:8000/">
                <span aria-hidden="true">&times; </span>
                </a>         
            </button>
        </div>
        <div class="modal-body">
            <div class="form-title text-center">
            <h4>Reset your password</h4>
            <h6>Enter your email, and we'll send you instructions on how to reset your password.</h6>
            </div>
            <div class="d-flex flex-column text-center">
            <form class="form" method="POST" action="" name="fill">                
                {% csrf_token %}
               
                <div class="form-group">
                <input type="email" style="border-radius: 2pc !important; border: 3px solid #ebc4a1 !important;
                margin-left: 2pc; margin-top: 1pc; width: 83%;" class="form-control" id="tags" placeholder="Your email..." name="email" required>
                </div>
                <input type="submit" class="btn btn-block btn-round mt-4" value="Send"  style="background-color: #ebc4a1; border-radius: 2pc;"/>
                
            </form>
            </div>   
        </div>
        </div>
    </div>
    </div>
    </div>

  <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script> 
  <script  src="{% static 'js/script.js' %}"></script>