.separator{
    text-align: center;
    background-color: #ebc4a1;
    height: 4pc;
    width: 100%;
}

.img1{
    height: 30pc;
    width: 46pc;
}
.para{
    text-align: justify;
    margin-left: 1pc;
}
  