/* navigation bar */
.img_logo{
  height: 4pc;
  width: 5pc;
  margin-left: 6pc;
}

body{
	margin: 0;
}
header{
	position: relative;
	height:3vh;
	z-index:1;
	font-family: Calibri, Verdana, sans-serif;
  margin-bottom: 0pc !important;
}
header::before{
	content: '';
	background-size: cover;	
  background-color: #ebc4a1;
  height: 65px !important;

}
header::before, nav{
	position: fixed;
	width: 100%;
}
.name{
font-size: 19px;
font-family: cursive;
margin-left: 2pc;
}
#title{
  font-size: 25px;
  font-family: cursive;
}
.log{
	list-style: none;
  margin-top: 21px;
  font-size: 20px;
  margin-left: 2pc
}
nav a:hover,nav a{
	color: black;
	font-weight: 400;
	text-transform: uppercase;
}

.header{
  width:18%;
  height: 2.5pc;
  margin-top: 1pc;
  margin-bottom: 1.5pc;
  border-radius: 2pc;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #ebc4a1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
  margin-top:-1pc;
  }
.dropdown-contents{
  display: none;
  background-color: #ebc4a1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
  margin-left: 2pc;
  margin-top: 1pc;
  width: 15pc;
  }
.dropdown-contents a {
  padding: 0px 11px 7px 16px;
  display: block;
  font-size: 20px !important;
  }
.dropdown-content a {
  padding: 12px 26px;
  display: block;
  font-size: 14px;
}
.dropdown:hover .dropdown-content{
  display: block;
}

.hi{
  font-size: 24px;
  font-style: normal;
  margin-left:3pc;
}
.dropdown:hover .dropdown-contents{
  display: block;
}

.user{
margin-left: 8pc;
font-size: 18px;
margin-top: 6px;
}
.info{
font-size: 25px;
margin-left:2pc;
}


/* sec2 */
#mySidenav a {
font-size: 24px;
font-style: normal;
margin-left: 5pc;
}
#mySidenav{
  margin-top: 12px;
}
#mySidenav a:hover {
left: 0;
}

/* footer */
.formargin{
  margin-top:-6pc;
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  height: 70vh; }

.footer-16371 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif; 
  background-color:#ebc4a1;
  height: 1pc;
}
  .footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
 }
    .footer-16371 .footer-site-logo a {
      color: #4200ff; }
  .footer-16371 .nav-links {
    padding: 0;
    margin: 0; }
    .footer-16371 .nav-links li {
      display: inline-block; }
      .footer-16371 .nav-links li a {
        padding: 10px;
        color: #000; }
        .footer-16371 .nav-links li a:hover {
          color: #4200ff; }
  .footer-16371 .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #000; }
  .footer-16371 .social ul li {
    display: inline-block; }
    .footer-16371 .social ul li a {
      display: inline-block;
      padding: 10px; }
    .footer-16371 .social ul li.in a {
      color: #df588a; }
    .footer-16371 .social ul li.tw a {
      color: #15b8ff; }
    .footer-16371 .social ul li.fb a {
      color: #3742d0; }
    .footer-16371 .social ul li.dr a {
      color: #fa38c1; }
    .footer-16371 .social ul li.pin a {
      color: #dd4d5a; }
  .footer-16371 .copyright {
    color: black; }

.logo{
  width: 6pc;
  height: 5pc;
}
.userlogo{
  color: black;
}


#uploadForm {
  display: none;
}