{% load static %}
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>

    <!-- <div class="row">
    <div class="col-md-6">
        <img src="{% static 'image/login.svg' %}"> 
    </div>

    <div class="col-md-6">
        <h2 class="mt-5"> Login</h2>
        <form class="form needs-validation" method="POST" action="/login/" name="fill" novalidate>     
                     
            {% csrf_token %}
            
            {% if messages %}
                {% for message in messages%}
                <div class="alert alert-danger" role="alert"> 
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}

             <div class="form-group"> 
            <input type="text" class="provideinput" id="tags" placeholder="Your username..." name="username" onkeyup="RemoveSpecialChar(this)" required>
            <div class="invalid-feedback">
                Please Enter Valid Username
              </div>
            </div> <div class="form-group">  
            <input type="password" class="provideinput" id="password" placeholder="Your password..." name="password" required>
            <i class="fa fa-eye" id="togglePassword"></i>
            <div class="invalid-feedback">
                Please Enter Password
              </div>
            </div>
            <input type="submit" class="btn btn-info btn-block btn-round mt-4" value="Login"/>
        </form>
    </div> -->


        
      <div>
        <img src="{% static 'image/login.svg' %}" class="background">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false"> 
       
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header border-bottom-0">
            <button type="button" class="close"  aria-label="Close">
                <a href="http://127.0.0.1:8000/">
                <span aria-hidden="true">&times; </span>
                </a>         
            </button>
        </div> 
        
        <div class="modal-body">
            <div class="form-title text-center">
                <h4>Login</h4>
              </div>
            <div class="form-title text-center">
           
            <div class="d-flex flex-column text-center">
            <form class="form needs-validation" method="POST" action="/login/" name="fill" novalidate>     
                     
                {% csrf_token %}
                
                {% if messages %}
                    {% for message in messages%}
                    <div class="alert alert-danger" role="alert"> 
                        {{message}}
                    </div>
                    {% endfor %}
                {% endif %}

                <div class="form-group">
                <input type="text" class="form-control" style="border-radius: 2pc !important; border: 3px solid #ebc4a1 !important;
                margin-left: 2pc; margin-top: 1pc; width: 83%;" placeholder="Your username..." name="username" onkeyup="RemoveSpecialChar(this)" required>
                <div class="invalid-feedback">
                    Please Enter Valid Username
                  </div>
                </div>
                <div class="form-group">
                <input type="password" class="form-control" style="border-radius: 2pc !important; border: 3px solid #ebc4a1 !important;
                margin-left: 2pc; margin-top: 1pc; width: 83%;"  placeholder="Your password..." name="password" required>
                <i class="fa fa-eye" id="togglePassword"></i>
                <div class="invalid-feedback">
                    Please Enter Password
                  </div>
                </div>
                <input type="submit" class="btn btn-block btn-round mt-5" value="Login" style="width: 91%;
                margin-left: 1pc; background-color: ebc4a1; border-radius: 2pc; color: white;"/>
            </form>
        </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <div class="signup-section">Not a member yet? <a href="../signup" class="text" style="color: #ebc4a1;"> Sign Up</a> 
                <p style="text-align: center;"><a href="{% url 'password_reset' %}" class="text mt-2" style="color: #ebc4a1;">Forgot password?</a></p>
            </div>
        </div>
         </div>
    </div>
    </div>
    </div>
    </div>

  <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script> 
  <script  src="{% static 'js/script.js' %}"></script>