{% extends 'header.html' %}
{% block content %}
{% load static %}

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static 'css/center.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<!-- <div class="row mt-3">
    <img src="{% static 'image/image (3).png' %}" class="img"/>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div>
        <img class="logo_image" src="{{center.image}}">
        <p class="description" style="font-size: 18px !important;">{{center.description}}</p>
        <p class="contact_info">Contact Details: {{center.contact}} </p>
        <p class="contact_info">Website: {{center.website}} </p>
        <p class="contact_info">Mail: {{center.mail}} </p>
        <p class="contact_info">Location: {{center.location}} </p>
        <p class="contact_info">Opening Hours: {{center.opening_hour}} </p>
    </div>   
    </div>
</div>
{% endblock %}
